div.movie {
  display: flex;
  flex-direction: row;
  width: calc(100% - 80px);
  margin-left: 40px;
  margin-top: 10px;
}

.movie>.movie-poster>img {
  width: 300px;
  height: 450px;
  border-radius: 4px 0 0 4px;
}

.movie>.movie-detail {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 4px 4px 0;
  width: calc(100% - 80px);
  height: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie>.movie-detail>.movie-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-header>.movie-title {
  padding: 20px 10px;
  font-size: 20px;
  max-width: 70%;
}

.movie-header>.movie-rate {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 15px;
  box-shadow: 1px 1px 2px #fff;
}

.movie-overview {
  width: calc(100% - 40px);
  margin-left: 20px;
  font-size: 15px;
  height: auto;
  /* max-height: 90px; */
  overflow: auto;
}

.movie-genres {
  width: calc(100% - 40px);
  margin-left: 20px;
}

.movie-genres>span {
  border: solid 1px #d0183e;
  padding: 8px 20px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #d0183e;
  font-size: 14px;
  margin-top: 10px;
}

.movie-detail>.movie-footer {
  background-color: #222;
  color: #fff;
  display: flex;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 5px 10px;
  height: auto;
  font-size: 15px;
}

.movie-director {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
}

.movie-director>a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.movie-director>a:hover {
  text-decoration: underline;
}

.movie-actors,
.movie-companies {
  margin-left: 20px;
  margin-top: 8px;
  font-size: 14px;
}

.movie-actors>a,
.movie-companies>a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.movie-actors>a:hover,
.movie-companies>a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .movie {
    flex-direction: column !important;
    width: calc(100% - 40px) !important;
    margin-left: 20px !important;
  }

  .movie>.movie-poster>img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .movie>.movie-detail {
    width: 100%;
    border-radius: 4px;
  }

  .movie-footer {
    margin-top: 10px;
    font-size: 0.8em !important;
  }

  .movie-overview {
    height: auto;
    max-height: 200px;
  }

  .movie-genres>span {
    padding: 5px 15px;
    font-size: 12px;
  }

  .movie-detail>.movie-footer {
    background-color: #222;
    color: #fff;
    display: -ms-flexbox;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 5px 10px;
    height: auto;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .movie-detail>.movie-footer {
    background-color: #222;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 5px 10px;
    height: auto;
    font-size: 15px;
  }
}

.movie-footer>div {
  display: contents;
}

.user-coments-img {
  width: 80px;
  border-radius: 50%;
}

.movie-list-coments {
  display: flex;
  margin: 5% 15%;
}

.img-fluid.img-coments {
  padding-right: 20px;
}

p.user-coments {
  font-size: 13px;
}

.movie-coments {
  display: flex;
  justify-content: center;
}

.text-area-movie-coments {
  width: 500px;
  height: 100px;
}

.movie-coments-button {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button-coments {
  padding: 6px 30px;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: 900;
  background-color: #a1090e;
}

@media (max-width: 500px) {
  .img-fluid.img-coments {
    padding-right: 20px;
    display: none;
  }

  .text-area-movie-coments {
    width: 430px;
  }
}

label.radio-custom-label.naogostei>input:checked+svg {
  width: 30px;
  height: 30px;
  color: red;
}

label.radio-custom-label.gostei>input:checked+svg {
  width: 30px;
  height: 30px;
  color: green;
}

.radio-image label>input+svg {
  width: 30px;
  height: 30px;
}

input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  visibility: hidden;
}

input#nota {
  background-color: #0e151f;
  border: 1px solid;
  padding: 1px 8px;
}

label.nota>input:checked+svg {
  content: '\f005';
  color: #fc0;
}

.estrelas input[type='radio']:checked~label svg:before {
  color: #ccc;
}

.nota>svg::before {
  width: 100px;
}

.notaResenha {
  display: flex;
  justify-content: center;
}

.avaliacacaoResenha {
  display: block;
}

.notaTitulo {
  padding: 5px 20px;
  text-align: center;
}

.notaResenha {
  display: block;
  justify-content: center;
}

.tituloComentario {
  text-align: center;
}

.titulo {
  width: 500px;
  margin-bottom: 10px;
  color: black
}

.radio-image {
  text-align: center;
  margin: 10px 0;
}

.movie-list-coments {
  display: block;
}
