.masthead {
  height: 75vh;
  min-height: 500px;
  background-image: url('https://img.ibxk.com.br/2021/04/15/15121821041137.jpg?w=1120&h=420&mode=crop&scale=both');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-fluid {
  padding: 0;
}
.top3-content{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

  }

.main-bg {
  background-image: url('https://img.ibxk.com.br/2021/04/15/15121821041137.jpg?w=1120&h=420&mode=crop&scale=both');
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}
.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}
.grid-main-heading {
  margin-bottom: 1rem;
}
.grid-description {
  padding-bottom: 5rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  counter-reset: grid-counter;
}
.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white-color);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  transform: rotate(-90deg);
  border: 0.1rem solid white;
}
.back-to-top:hover {
  color: red;
}
