@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root{
  --box-shadow-btn:#D0183E;
  --white: #fff;
  --background-color:#0e151f;
  --dark: #343a40;
  --font-family: 'Montserrat', sans-serif;
  --cor-logo: #D0183E;
  --subcor-logo:#53121A;
  --subtexto: #919aa3;
}
* {
  margin: 0;
  padding: 0;
}
body{
  background-color:  var(--background-color);
  font-family:var(--font-family);
}
h1,h2,h3,h4,h5,h6, span, p, input, label {
  color: var(--white);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.movie-card {
  width: 230px;
  height: 470px;
  display: inline-flex !important;
  -ms-flex-direction: column;
  flex-direction: column;
  border: solid 1px;
  margin: 0 0 0 46px;
  border-radius: 5px;
  background-color: #222;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 2px 3px #222;
  box-shadow: 1px 2px 3px #222;
  position: relative;
  -webkit-transition: cubic-bezier(.34,2,.6,1) 0.2s;
  -o-transition: cubic-bezier(.34,2,.6,1) 0.2s;
  transition: cubic-bezier(.34,2,.6,1) 0.2s;
}
.movie-body .movie-title {
  height: 80px !important;
}
.cast-person .person-body {
  height: 65px !important;
}
.nav-link:hover {
  color: white !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 100%;
  padding: 0;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 100%;
      padding: 0;
  }
}
@media (max-width: 767px){
  .movie-card {
    width: 79% !important;
    height: auto !important;
  }
}
@media (max-width:760px){
  header > .down-header > .search > input {
    margin: 0 10px !important;
    width: 100% !important;
  }
  .section-header h3 {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
  }
}
.movie-card {
  margin-left: 25px;
}

.duration, .realease-date, .budget, .revenue {
  position: relative !important;
  bottom: 0px !important;
}
.duration, .realease-date, .budget, .revenue {
  position: relative !important;
  bottom: 0px !important;
  padding: 0 20px !important;
}
