.padding {
  padding: 3rem !important;
  padding-bottom: 0px !important;
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
}

a.btnAdmin {
  width: 100%;
  text-align: center;
}
.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-uf {
  background: linear-gradient(to right, var(--subcor-logo), var(--cor-logo));
}
.btn-outline-warning:hover {
  color: white;
  background-color: #ffc107;
  border-color: #ffc107;
}

.buttonsPerfil.row {
  margin-top: 40px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.card .card-block p {
  line-height: 25px;
}

.text-muted {
  color: var(--subtexto) !important;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
div#page-content {
  width: 100%;
}
.conteudo-usuario {
  background-color: black;
}
.page-profile-user {
  overflow: hidden;
}
.info-user-nome {
  margin-top: 15px;
}
.img-radius {
  width: 190px;
  border-radius: 100px;
  margin: auto;
}
button.btn.btn-outline-success {
  margin-left: 60%;
}
@media (max-width: 700px) {
  .padding {
    padding: 1rem !important;
    padding-bottom: 0px !important;
  }
  .img-radius {
    border-radius: 200px;
    width: 100px;
    display: inline;
  }
  button.btn.btn-outline-success {
    margin-left: 50%;
  }
}
